<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: query }) %>

    <style>
      table {
        margin-bottom: 1rem;
      }
      thead {
        background: #aaa;
      }
    
      tbody tr:nth-child(even) {
        background: #f0f0f0;
      }
    
      tbody tr:hover {
        background: rgb(255, 224, 224);
      }
    
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    
      th:nth-child(2), td:nth-child(2) {
        /* avtor */
        max-width: 150px;
        width: 150px;
      }
    
      th:nth-child(3), td:nth-child(3) {
        /* naslov */
        font-weight: bold;
        max-width: 400px;
        width: 400px;
      }
    </style>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <% const strings = {
      lang: 'en',
      en: {
        search_results: 'Search results',
        id: 'id',
        author: 'author',
        title: 'title',
        year: 'year',
        uploaded_by: 'upload by',
        no_results: 'no results. try \'Aristotel\', \'Fragmenti\', or just \'.\' ..'
      },
      slo: {
        search_results: 'Rezultati iskanja',
        id: 'id',
        author: 'avtor',
        title: 'naslov',
        year: 'leto',
        uploaded_by: 'naložil',
        no_results: 'ni rezultatov. išči pametno ..'
      },
    } %>

    <div class="container">
      <h2><%- strings[strings.lang].search_results %>: "<%- query %>"</h2>
      
    <table>
      <thead>
        <th><%- strings[strings.lang].id %></th>
        <th><%- strings[strings.lang].author %></th>
        <th><%- strings[strings.lang].title %></th>
        <th><%- strings[strings.lang].year %></th>
        <th><%- strings[strings.lang].uploaded_by %></th>
      </thead>
      <tbody>
        <% for (let res of results) { %>
        <tr>
          <% if (res.flags?.delete) { %>
            <td style="background: lightpink;">
          <% } else if (res.flags?.missing) { %>
            <td style="background: bisque;">
          <% } else if (res.flags?.duplicate) { %>
            <td style="background: lightblue;">
          <% } else { %>
          <td>
          <% }; %>
          <%- res.id %>
          </td>
          <td>
            <a class="black" href="/knjizarna/tekst/<%- res.id %>">
              <%- res.author || '-' %>
            </a>
          </td>
          <!-- <td><%- res.author || '-' %></td> -->
          <td>
            <a class="black" href="/knjizarna/tekst/<%- res.id %>">
              <%- res.title %>
            </a>
          </td>
          <td><%- res.year || '-' %></td>
          <td><%- res.uploadedBy || '-' %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

      <% if (!results.length) { %>
        <h3><%- strings[strings.lang].no_results %></h3>
      <% } %>
    </div>

    <%- include("../partials/footer") %>
  </body>
</html>
