<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: entry.id ? 'urejanje' : 'novo' }) %>

    <style>
      h2 {
        margin-top: 0.5rem;
      }
      form input {
        margin-bottom: 5px;
        display: block;
        width: 200px;
      }

      form input:focus-within {
        background: lightgoldenrodyellow;
      }

      form input[type="text"].changed, form textarea.changed {
        background: lightgoldenrodyellow;
      }

      input[type='submit'] {
        margin-top: 10px;
        /* background: lightgreen; */
      }

      input[type='file'] {
        /* padding: 10rem 1rem; */
        border: none;
      }

      input[type='submit'] {
        margin-top: 1.5rem;
      }

      .container {
        width: fit-content;
      }

      body {
        /* very light blue */
        background: rgb(240, 250, 255);
      }

      textarea {
        width: 200px;
        /* height: 34px; */
        border: 1px solid;
        display: block;
      }
    </style>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container">
      <form action="/publish" method="post" enctype="multipart/form-data" autocomplete="off" spellcheck="false">
        <h2>datoteka</h2>
        <% if (!entry.id || entry.flags?.missing) { %>
          <input type="file" id="doc" name="doc" accept="application/pdf" required />
        <% } else { %>
        <em>datoteka je že naložena</em>
        <br /><br />
        <% }; %>

        <% const fields = [
          { dbName: 'author', text: 'avtor', plc: 'Aristotel' },
          { dbName: 'title', text: 'naslov', plc: 'Nikomahova etika', required: true },
          { dbName: 'place', text: 'kraj', plc: 'Ljubljana' },
          { dbName: 'publisher', text: 'založba', plc: 'Cankarjeva založba' },
          { dbName: 'year', text: 'letnica', plc: '1964' },
        ]; %> 

        <h2>o tekstu</h2>
        <% for (let el of fields) { %>
          <label for="<%- el.dbName %>"><%- el.text %></label>
          <input type="text" name="<%- el.dbName %>" id="<%- el.dbName %>" data-prev="<%- entry[el.dbName] %>" placeholder="<<%- el.plc %>>" value="<%- entry[el.dbName] %>" <%- el.required && 'required' %> />
        <% }; %>

        <label for="description">opis</label>
        <textarea name="description" id="description" rows="2" data-prev="<%- entry.description %>" placeholder="strani, opis datoteke .."><%- entry.description %></textarea>
        
        <% if (entry.id && user?.usr !== entry.uploadedBy) { %>
          <br>
          <hr>
          <label for="edits">opis sprememb</label>
          <input type="text" name="edits" id="edits" placeholder="typo; dodal(a) naslov .." required>
          <label for="source">vir</label>
          <input type="text" name="source" id="source" placeholder="cobiss; <url>; dokument .." required>
        <% } %>

        <input type="hidden" name="id" value="<%- entry.id %>" />

        <input type="submit" value="<%- (entry.id ? 'shrani' : 'objavi') %>" tabindex="-1" disabled />
      </form>
    </div>

    <%- include("../partials/footer") %>

    <script>
      (function() {
        let isModified = false;
        let isSubmitting = false;

        $("form").oninput = function({ target:t }) {
          if (t.dataset.prev !== t.value) {
            t.classList.add('changed');
          } else {
            t.classList.remove('changed');
          }

          isModified = $('form .changed');
          $('form input[type="submit"]').disabled = !isModified;
        }

        $('form').onsubmit = function(e) {
          window.onbeforeunload = null;

//           e.preventDefault();

//           const changes = [...$('form').children].filter(({ value, dataset:d }) => d.prev && d.prev !== value);
//           console.log(changes);
//           Modal.alt({
//             html: true,
//             msg: `\
// <label for="spremembe">opis sprememb</label>
// <input type="text" name="spremembe" id="spremembe" style="width:350px;" placeholder="'typo', 'dodal(a) naslov' ..">
// <label for="vir">vir</label>
// <input type="text" name="vir" id="vir" style="width:350px;" placeholder="cobiss, url, dokument, knjiga ..">`,
//             onConfirm: () => 0,
//             onCancel: () => 0,
//           })
        }

        window.onbeforeunload = function(e) {
          if (isModified) {
            e.preventDefault();
            return 'imaš neshranjene spremembe!';
          }
        }

        // --- load msg

        const msg = `\
        polja, za katera nisi prepričan, raje pusti prazna.
        pomagaj si z iskanjem COBISS:

        <a href="https://plus.cobiss.net/cobiss/si/sl/bib/search" target="_blank">https://plus.cobiss.net/</a>`;

        window.onload = (e) => {
          Modal.alt({ msg, html: true, remember: 'novo_opomnik' });
        }
      })()
    </script>
  </body>
</html>
