<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: !!entry.id ? 'urejanje' : 'novo' }) %>

    <style>
      body {
        /* very light blue-green */
        background: rgb(240, 250, 255);
      }

      .container {
        width: fit-content;
      }

      form h2 {
        margin-top: 0.5rem;
      }

      form input {
        margin-bottom: 5px;
        display: block;
        width: 220px;
      }

      form input:focus, form textarea:focus {
        background: lightgoldenrodyellow;
      }

      form input[type="text"].changed, form textarea.changed {
        background: lightgoldenrodyellow;
      }

      form input[type='submit'] {
        margin-top: 10px;
        /* background: lightgreen; */
      }

      form input[type='file'] {
        /* padding: 10rem 1rem; */
        border: none;
      }

      form input[type='submit'] {
        margin-top: 1.5rem;
      }

      form textarea {
        width: 220px;
        /* height: 34px; */
        border: 1px solid;
        display: block;
      }

      /* MODAL */
      #modal .msg input {
        width: 360px;
      }

      #modal .msg input:valid:not(:placeholder-shown) {
        background: rgb(240, 255, 243);
      }
    </style>
  </head>


  <% const strings = {
    lang: 'en',
    en: {
      file: 'file',
      about_text: 'about the text',
      import_cobiss: 'import from',
      file_title_label: 'DOCUMENT NAME',
      author_label: 'author',
      title_label: 'title',
      place_label: 'place',
      publisher_label: 'publisher',
      year_label: 'year',
      description_label: 'description',
      source_label: 'source of data',
      publish: 'publish',
      save: 'save'
    },
    slo: {
      file: 'datoteka',
      about_text: 'o tekstu',
      import_cobiss: 'uvozi iz',
      file_title_label: 'IME DOKUMENTA',
      author_label: 'author',
      title_label: 'naslov',
      place_label: 'kraj',
      publisher_label: 'založba',
      year_label: 'letnica',
      description_label: 'opis',
      source_label: 'vir podatkov',
      publish: 'objavi',
      save: 'shrani'
    },
  } %>

  <body>
    <%- include("../partials/nav") %>

    <div class="container">
      <form action="/knjizarna/publish" method="post" enctype="multipart/form-data" autocomplete="off" spellcheck="false">
        <h2><%- strings[strings.lang].file %></h2>
        <% if (!user?.admin && !entry.id || entry.flags?.missing) { %>
          <input type="file" id="doc" name="doc" accept="application/pdf" required />
        <% } else { %>
        <em>datoteka je že naložena</em>
        <br><br>
        <% }; %>

        

        <% const fields = [
          { dbName: 'entryTitle', text: strings[strings.lang].file_title_label, plc: 'Platon: Država (6. knjiga)' },
          { dbName: 'author', text: strings[strings.lang].author_label, plc: 'Aristotel' },
          { dbName: 'title', text: strings[strings.lang].title_label, plc: 'Nikomahova etika', required: true },
          { dbName: 'place', text: strings[strings.lang].place_label, plc: 'Ljubljana' },
          { dbName: 'publisher', text: strings[strings.lang].publisher_label, plc: 'Cankarjeva založba' },
          { dbName: 'year', text: strings[strings.lang].year_label, plc: '1964' },
        ]; %> 

        <h2><%- strings[strings.lang].about_text %></h2>
        
        <em><%- strings[strings.lang].import_cobiss %> <a href="javascript:showCobissModal()">COBISS</a></em>
        <br><br>

        <% for (let el of fields) { %>
          <label for="<%- el.dbName %>"><%- el.text %></label>
          <input type="text" name="<%- el.dbName %>" id="<%- el.dbName %>" data-prev="<%- entry[el.dbName] %>" placeholder="<<%- el.plc %>>" value="<%- entry[el.dbName] %>" <%- el.required && 'required' %> />
        <% }; %>

        <label for="description"><%- strings[strings.lang].description_label %></label>
        <textarea name="description" id="description" rows="2" data-prev="<%- entry.description %>" placeholder="strani, opis datoteke .."><%- entry.description %></textarea>
        
        <br><hr>
        <% if (entry.id) { %>
          <label for="edits">opis sprememb</label>
          <input type="text" name="edits" id="edits" placeholder="typo; dodal(a) naslov .." required>
        <% }; %>

        <label for="source"><%- strings[strings.lang].source_label %></label>
        <input type="text" name="source" id="source" placeholder="<url>; znanje; tekst .." required>

        <input type="hidden" name="ris" id="ris" />
        <input type="hidden" name="id" value="<%- entry.id %>" />

        <input type="submit" value="<%- (entry.id ? strings[strings.lang].save : strings[strings.lang].publish) %>" tabindex="-1" disabled />
      </form>
    </div>

    <%- include("../partials/footer") %>

    <script>
      (function() {
        let isModified = false;
        let isSubmitting = false;

        $("form").oninput = function({ target:t }) {
          if (t.matches('input#edits, input#source')) return;

          if (t.dataset.prev !== t.value) {
            t.classList.add('changed');
          } else {
            t.classList.remove('changed');
          }

          isModified = $('form .changed');
          $('form input[type="submit"]').disabled = !isModified;
        }

        // --- load warning msg

        const html = `\
        polja, za katera nisi prepričan, raje pusti prazna.
        pomagaj si z iskanjem COBISS:
        
        <a href="https://plus.cobiss.net/cobiss/si/sl/bib/search"\
         target="_blank">https://plus.cobiss.net/</a>`.replace(/\n/g, '<br>');

        window.onload = (e) => {
          Modal.alt({ html, remember: 'novo_opomnik' });
        }
      })()

      function showCobissModal() {
        const html = `\
        <label for="cobiss"><a class="black" target="_blank" href="//plus.cobiss.net">cobiss link</a></label>
        <input pattern=".+plus.cobiss.net.+\\d{7,}" type="url" id="cobiss" placeholder="https://plus.cobiss.net/cobiss..">
        `.replace(/\n/g, '<br>');

        Modal.alt({
          html,
          onConfirm: async () => {
            const val = $('#cobiss').value;
            if (!val) return;
            if (!/plus.cobiss.net(.*)\d{7,}/.test(val)) return alert("not a url!");

            const res = await fetch('/api/getCobissData?url='+encodeURIComponent(val));
            const data = await res.json();
            console.log(data?.data.ris);

            if (data.success === 1) {
              const { ris, risText } = data.data;
              $('#author').value = ris.AU;
              $('#title').value = ris.TI;
              $('#place').value = ris.CY;
              $('#publisher').value = ris.PB;
              $('#year').value = ris.PY;
              $('#source').value = val;
              $('#ris').value = risText;
            }

            [...$('form').querySelectorAll('input')].forEach((c) => c.dispatchEvent(new Event('input', {bubbles:true})))
            Modal.close();
          },
          onCancel: Modal.close,
          preventClose: true,
        });
      }
    </script>
  </body>
</html>
