<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: "prijava" }); -%>

    <style>
      .container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        text-align: center;
        width: 300px;
      }

      input.txt {
        border: 1px dashed;
      }
      
      input.txt:focus, input.txt:not(:placeholder-shown) {
        border: 1px solid;
      }

      input {
        width: 100%;
        margin-bottom: 10px;
      }

      .container img {
        width: 100%;
        border: thick ridge;
        object-fit: cover;
      }

      .links, .links a {
        font-size: 12px;
        /* color: rgb(85, 26, 139); */
      }
    </style>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <% const strings = {
      lang: 'en',
      en: {
        login: 'login',
        username: 'username',
        password: 'password',
        forgot_password: 'forgot password?',
        register: 'register',
        register_msg: 'not available at the moment .. try\nto remember!'
      },
      slo: {
        login: 'prijava',
        username: 'uporabniško ime',
        password: 'geslo',
        forgot_password: 'pozabljeno geslo?',
        register: 'registracija',
        register_msg: 'storitev žal še ni na voljo .. probaj\nse spomniti!'
      },
    } %>

    <div class="container">
      <img src="/knjizarna/public/img/alexand.jpg" alt="medieval schola">
      <h2><%- strings[strings.lang].login %></h2>
      <form action="/knjizarna/prijava" method="post">
        <input class="txt" type="text" placeholder="<%- strings[strings.lang].username %>" name="usr" id="usr" autocomplete="off" required />
        <br>
        <input class="txt" type="password" minlength="6" placeholder="<%- strings[strings.lang].password %>" name="pwd" id="pwd" autocomplete="off" required />
        <br>
        <br>
        <input type="submit" value="ok" />
      </form>

      <p class="links"><a href="/knjizarna/pozabljivcek"><%- strings[strings.lang].forgot_password %></a> | <a href="/knjizarna/registracija"><%- strings[strings.lang].register %></a></p>
    </div>

    <script>
      $('a[href="/knjizarna/pozabljivcek"]').onclick = (e) => {
        e.preventDefault();
        Modal.alt({
          msg: `<%- strings[strings.lang].register_msg %>`,
        })
      }

      window.onload = () => $('input#usr').select();
    </script>

    <%- include("../partials/footer") %>
  </body>
</html>
