<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: "registracija" }); -%>

    <style>
      h2 {
        margin-top: 0.5rem;
      }
      form input {
        margin-bottom: 5px;
        display: block;
        width: 200px;
      }

      form input:focus-within {
        background: lightgoldenrodyellow;
      }

      form input[type="text"].changed, form textarea.changed {
        background: lightgoldenrodyellow;
      }

      input[type='submit'] {
        margin-top: 10px;
        /* background: lightgreen; */
      }

      input[type='file'] {
        /* padding: 10rem 1rem; */
        border: none;
      }

      input[type='submit'] {
        margin-top: 1.5rem;
      }

      .container {
        width: fit-content;

        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        /* width: 300px; */
      }

      h2 {
        text-align: center;
      }

      body {
        /* very light blue */
        background: rgb(240, 250, 255);
      }

      input:disabled {
        color: rgb(169, 169, 169);
      }
    </style>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <% const strings = {
      lang: 'en',
      en: {
        register: 'register',
        email_label: 'email [confirmed]',
        username_label: 'username',
        username_placeholder: 'tinymouse',
        password_label: 'password',
        password_placeholder: 'terrific-password123',
        password_re_label: 'repeat password'
      },
      slo: {
        register: 'registracija',
        email_label: 'email [potrjen]',
        username_label: 'uporabniško ime',
        username_placeholder: 'malamis',
        password_label: 'geslo',
        password_placeholder: 'strasno-geslo123',
        password_re_label: 'ponovi geslo'
      },
    } %>
    
    <div class="container">
      <form action="/knjizarna/registracija" method="post">
        <!-- EMAIL CONFIRMED: REGISTER -->
        <h2><%- strings[strings.lang].register %></h2>
        <br>

        <label for="email"><%- strings[strings.lang].email_label %></label>
        <input type="email" id="email" value="<%- email %>" disabled>

        <label for="usr"><%- strings[strings.lang].username_label %></label>
        <input type="text" name="usr" id="usr" placeholder="<%- strings[strings.lang].username_placeholder %>" value="<%- usr %>" required>

        <label for="pwd"><%- strings[strings.lang].password_label %></label>
        <input type="password" name="pwd" id="pwd" placeholder="<%- strings[strings.lang].password_placeholder %>" required>

        <label for="pwdCheck"><%- strings[strings.lang].password_re_label %></label>
        <input type="password" name="pwdCheck" id="pwdCheck" placeholder="<%- strings[strings.lang].password_placeholder %>" required>

        <input type="hidden" name="ref" value="<%- ref %>">

        <input type="submit" value="<%- strings[strings.lang].register %>">
      </div>
    </form>

    <%- include("../partials/footer") %>
  </body>
</html>
