<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: "registracija" }); -%>

    <style>
      .container {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        text-align: center;
        /* width: 300px; */
      }
      
      input[type="email"] {
        width: 200px;
        /* border: 1px dashed; */
      }
      
      input[type="email"]:focus {
        border: 1px solid;
      }

      h2 {
        margin-top: 0;
      }

      sup {
        font-size: 13px;
        color: #bbb;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <% const strings = {
      lang: 'en',
      en: {
        register: 'register',
        input_placeholder: 'mouse@tinyhouse.com',
        help_msg: 'at your email you\'ll receive the link\nwith which you can register.\n\nthe link is active for 24 hours.',
        sending_email: 'sending email ..',
      },
      slo: {
        register: 'registracija',
        input_placeholder: 'miska@malahiska.com',
        help_msg: 'na e-poštni naslov boš prejel link,\ns katerim se lahko registriraš.\n\nlink je veljaven 24 ur.',
        sending_email: 'pošiljanje sporočila ..',
      },
    } %>

    <div class="container">
      <h2><%- strings[strings.lang].register %><sup>[?]</sup></h2>
      <form action="#" method="post">
        <input type="email" placeholder="<%- strings[strings.lang].input_placeholder %>" name="email" id="email" autocomplete="off" required />
        <input type="submit" value="ok" />
      </form>
    </div>

    <script>
      $('sup').onclick = (e) => {
        Modal.alt({
          msg: `<%- strings[strings.lang].help_msg %>`,
        })
      }

      $('form').onsubmit = (e) => {
        e.preventDefault();
        
        const email = $('input[type="email"]').value;
        [...$('form').children].forEach((c) => (c.disabled = true));
        
        // AJAX!
        Msg.show('<%- strings[strings.lang].sending_email %>');
        postData('/confirmemail', { email }).then((res) => {
          if (res.status === 'ok') {
            Msg.show(res.msg, res.status);
          } else if (res.status === 'error') {
            Msg.show(res.msg, res.status);
            [...$('form').children].forEach((c) => (c.disabled = false));
          }
        });
      }
    </script>

    <%- include("../partials/footer") %>
  </body>
</html>
