<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: entry.naslov }) -%>
    
    <style>
      .container {
        width: 500px;
      }

      .tables {
        max-width: 300px;
        width: max-content;
      }

      table {
        margin-bottom: 1rem;
        width: 100%;
      }

      tbody td:nth-child(1) {
        background: lightblue;
        font-weight: bold;
        width: 80px;
      }
    </style>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container">
      <% if (entry.flags?.duplicate) { %>
        <em>dokument že obstaja. glej: <a href="/iskanje?q=<%- entry.md5 %>">iskanje</a>.</em>
      <% }; %>

      <h2><%= entry.author || '<Neznano>' %>: <%= entry.title %></h2>

      <div class="tables">
        <% const tableOne = {
          avtor: entry.author,
          naslov: entry.title,
          kraj: entry.place,
          založba: entry.publisher,
          letnica: entry.year,
        }; %> 
        <%- include("../partials/table-vertical", { obj: tableOne }) %> 
        
        <% const tableTwo = {
          id: entry.id,
          velikost: entry.sizeStr,
          naložil: entry.uploadedBy,
          // flags: JSON.stringify(entry.flags),
        }; %> 
        <%- include("../partials/table-vertical", { obj: tableTwo }) %> 
      </div>
      
      <% if (entry.opis) { %>
        <p class="opis">opis: <i><%= entry.opis %></i></p>
        <% } %>
      ---
      <p>
        <a href="/ogled/<%- entry.id %>">ogled</a> |
        <a href="/ogled/<%- entry.id %>?download" download="<%- entry.originalFilename %>">download</a>
        <% if (user?.admin || entry.uploadedBy === user?.usr) { %>
          | <a href="/uredi/<%- entry.id %>">uredi</a>
          | <a href="#" id="remove">izbriši</a>
        <% } %>
      </p>
    </div>

    <%- include("../partials/modal") %>

    <% if (user?.admin || entry.uploadedBy === user?.usr) { %>
      <script>
        $('#remove').onclick = function (e) {
          e.preventDefault();
          
          Modal.confirm("izbriši zapis?",
          function() {
            window.location = '/delete/<%- entry.id %>';
          });
        }
        </script>
    <% } %>

    <%- include("../partials/msg") %>
    <%- include("../partials/footer") %>
  </body>
</html>
