<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", { title: entry.title }) -%>
    
    <style>
      .container {
        min-width: 500px;
        max-width: 800px;
        width: min-content;
      }

      .row {
        position: relative;
        display: flex;
        /* border: 2px solid blue; */
        margin-bottom: 2rem;
      }

      h2 {
        margin-bottom: 2rem;
      }
      
      div.thumb {
        position: relative;
        margin-left: 3rem;
        flex-grow: 1;
        /* text-align: center; */

        display: flex;
        place-content: center;
        /* place-items: center; */
      }

      img#thumb {
        height: 222px;
        border: thick ridge;
      }

      .tables {
        max-width: 300px;
        flex-shrink: 0;
        /* width: 100%; */
        width: max-content;
      }

      table {
        margin-bottom: 1rem;
        width: 100%;
      }

      table:last-of-type {
        margin-bottom: 0;
      }

      tbody td:nth-child(1) {
        background: lightblue;
        font-weight: bold;
        width: 80px;
      }
      
      .opis {
        font-style: italic;
        color: #777;
        white-space: pre-line;
      }
    </style>

    <% if (entry.flags?.delete) { %>
    <style>
      tbody td:nth-child(1) {
        background: lightpink;
      }
    </style>
    <% }; %> 
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container">
      <% if (entry.flags?.duplicate) { %>
        <em>dokument že obstaja. glej: <a href="/knjizarna/iskanje?q=<%- entry.md5 %>">iskanje</a>.</em>
      <% }; %>
      <% if (entry.flags?.delete) { %>
        <em>dokument je za izbris označil: '<%- entry.flags.delete %>'.</em>
      <% }; %>

      <% if (entry.entryTitle) { %>
        <h2><%- entry.entryTitle %></h2>
      <% } else { %>
        <h2><%= entry.author || '<Neznano>' %>: <%= entry.title %></h2>
      <% }; %>
       

      <div class="row">
        <div class="tables">
          <% const tableOne = {
            avtor: entry.author,
            naslov: entry.title,
            kraj: entry.place,
            založba: entry.publisher,
            letnica: entry.year,
          }; %> 
          <%- include("../partials/table-vertical", { obj: tableOne }) %> 
          
          <% const tableTwo = {
            id: entry.id,
            velikost: entry.sizeStr,
            naložil: entry.uploadedBy,
            uredil: entry.lastEdit ? `<a id="edits" class="black">${entry.lastEdit.user}</a>` : null,
            // flags: JSON.stringify(entry.flags),
          }; %> 
          
          <%# if (entry.lastEdit) {
            tableTwo.uredil = `<a id="edits" class="black" href="#">${entry.lastEdit.user}</a>`;
          }; %>

          <%- include("../partials/table-vertical", { obj: tableTwo }) %>
          
          <% if (entry.lastEdit) { %>
            <script>
              $('#edits').onclick = (e) => {
                e.preventDefault();
                Modal.alt({
                  html: `\
                  <b>zadnji spremenil</b>: <%- entry.lastEdit?.user %>
                  <b>datum</b>: <%- new Date(entry.lastEdit.timestamp).toLocaleString('sl') %>
                  <b>opis sprememb</b>: <%- entry.lastEdit?.edits %>
                  <b>vir</b>: <%- entry.lastEdit?.source %>`.replace(/\n/g, '<br>')
                });
              };
            </script>
          <% }; %>

        </div>
        <div class="thumb">
          <img src="<%- entry.thumb %>" id="thumb" alt="thumbnail">
        </div>
      </div>
      
      <% if (entry.description) { %>
        <p class="opis"><%= entry.description %></p>
      <% } %>
      <!-- <p style="margin-bottom:2rem;">---</p> -->
      <p>
        <a href="/knjizarna/ogled/<%- entry.id %>">ogled</a> |
        <a href="/knjizarna/ogled/<%- entry.id %>" download="<%- entry.originalFilename %>">download</a>
        <% if (user?.usr) { %>
          | <a href="/knjizarna/uredi/<%- entry.id %>" id="edit">uredi</a>
          | <a href="#" id="remove"><%- user?.admin || user?.usr === entry.uploadedBy ? 'izbriši' : 'izbriši*' %></a>
          <% } %>
          <% if (user?.admin && entry.flags?.delete) { %>
            | <a href="/knjizarna/undelete/<%- entry.id %>" id="remove">odizbriši</a>
        <% } %>
      </p>
    </div>

    <% if (user?.admin || entry.uploadedBy === user?.usr) { %>
      <script>
        $('#remove').onclick = function (e) {
          e.preventDefault();
          
          Modal.alt({
            msg: 'izbriši zapis?',
            onConfirm: () => window.location = '/delete/<%- entry.id %>',
            onCancel: () => 0,
          })
        }
        </script>
    <% } else if (user?.usr) { %>
      <script>
        $('#edit').onclick = function (e) {
          e.preventDefault();
          
          Modal.alt({
            msg: `dokument je naložil uporabnik '<%- entry.uploadedBy %>'.
              želiš napraviti spremembe?`,
            onConfirm: () => window.location = '/uredi/<%- entry.id %>',
            onCancel: () => 0,
          })
        }

        $('#remove').onclick = function (e) {
          e.preventDefault();
          
          Modal.alt({
            msg: `dokument je naložil uporabnik '<%- entry.uploadedBy %>'.
              želiš predlagati izbris?`,
            onConfirm: () => window.location = '/delete/<%- entry.id %>',
            onCancel: () => 0,
          })
        }
      </script>
    <% } %>

    <%- include("../partials/footer") %>
  </body>
</html>
